<h1>
  <%= @team.domain %>
</h1>

<div class="row">
  <div class="column column-33">
    <table>
      <thead>
        <tr>
          <th class="table--header">
            Who's buying next?
          </th>
        </tr>
      </thead>
      <tbody>
        <% @purchase_order.each_with_index do |user, index| %>
          <tr>
            <td>
              <strong class="table--index"><%= index + 1 %>.</strong>
              <%= user.name %>
            </td>
          </tr>
        <% end%>
      </tbody>
    </table>
  </div>

  <div class="column">
    <table>
      <thead>
        <tr>
          <th class="table--header">
            Purchase History
          </th>
        </tr>
      </thead>
      <tbody>
        <%= render @purchases %>
      </tbody>
    </table>
  </div>
</div>
